*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

header{
    width: 100%;
    padding: 20px;
}

.intro{
    width: 100%;
}

article{
    width: 100%;
    margin-bottom: 16px;
}

footer{
    width: 100%;
    margin-top: 24px;
}



@media(min-width:768px){
    article{
        display: inline-block;
        width: 30%;
        margin-right: 3%;
        vertical-align: top; 
    }
    .cards-container{
        width: 100%;
    }
}
    
