*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

header{
    padding: 20px;
    text-align: center;
    background-color: black;
    color: white;
}

.intro{
    width: 100%;
    background-color: burlywood;
}

article{
    width: 100%;
    margin-bottom: 16px;
    background-color: antiquewhite;
}

footer{
    margin-top: 24px;
    padding: 20px;
    text-align: center;
    background-color: black;
    color: white;
}

@media(min-width:768px){
    article{
        display: inline-block;
        width: 30%;
        margin-right: 3%;
        vertical-align: top; 
    }
    .cards-container{
        width: 100%;
    }
}
    
